* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 1100px;
  padding: 0 1rem;
  margin: auto;
}
.btn {
  padding: 0.5rem 1.6rem;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
}
.btn-primary {
  background-color: hsl(0, 79%, 58%);
  color: #fff;
}
.btn-secondary {
  background-color: hsl(0, 0%, 81%);
  color: #333;
}
